body {
  margin: auto 0;
  /* background-color: #eff2f4; */
  background-color: #0d9eff;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #1a1a1a;
  overflow: hidden;
}
h3 {
  margin-top: -16px;
  color: #ff6e14;
}
h1 {
  text-align: center;
}
form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* ********Header************** */
.containerHeader {
  padding-top: 10px;
  width: 100%;
  height: 60px;
  background-color: rgb(255, 255, 255);
  /* margin-top: 20px; */
}
.logo {
  margin-left: 226px;
  width: 160px;
  height: 30px;
  /* position: relative; */
  /* object-fit: cover; */
}
.linkHeader {
  font-weight: 700px;
  border-radius: 5px;
  margin-left: 29px;
  text-decoration: none;
  background-color: #ff6e14;
  padding: 15px;

  color: white;
}
.buttonHeader {
  font-size: 20px;
  background-color: white;
  border-style: none;
  text-decoration: none;
  margin-left: 229px;
}
.rechercheHeader {
  font-size: 20px;
  background-color: white;
  border-style: none;
  text-decoration: none;
  margin-left: 29px;
}
/* **********Offers********************** */
.descOffers {
  padding-left: 20px;
  background-color: white;
}
.linkOffers {
  text-decoration: none;
}
.ficheOffers {
  border-radius: 5px;
  width: 800px;
  height: 180px;
  background-color: white;
  /* padding-right: 10px; */
  margin-left: 260px;
  margin-bottom: 10px;
  display: flex;
}
.elipsis {
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: -1;
}
.elipsis > div {
  height: 290px;
  /* height: 200px; */
  position: absolute;
  top: -140px;
  left: -100px;
  right: -100px;
  border-radius: 50%;
  background-color: #f56b2a;
}
.imgOffer {
  border-radius: 5px 0px 0px 5px;
  background-color: #cad1d9;
  width: 180px;
  height: 180px;
  object-fit: contain;
}
.display {
  margin-top: 200px;
  /* display: flex; */
  /* justify-content: space-around; */
  object-fit: cover;
}

.input {
  border: 1px dotted #999;
  border-radius: 0;
  width: 400px;
  height: 40px;
  margin-left: 50px;
  margin-top: 30px;

  -webkit-appearance: none;
}
.connecter {
  margin-top: 10px;
  padding: 10px;
}
.compte {
  margin-top: 10px;
  padding: 10px;
}
/* .test3 {
  width: 100px;
  height: 100px;
  background-color: white;
} */
