body {
  background-color: #fafafa;
}
h2 {
  font-size: 20px;
  font-weight: 700;
}

h1 {
  text-align: center;
}
form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* ********Header************** */
.containerHeader {
  height: 100px;
  background-color: white;
  /* margin-top: 20px; */
}
.logo {
  margin-left: 226px;
  width: 160px;
  height: 30px;
  /* position: relative; */
  /* object-fit: cover; */
}
.linkHeader {
  font-weight: 700px;
  border-radius: 5px;
  margin-left: 29px;
  text-decoration: none;
  background-color: #ff6e14;
  padding: 15px;

  color: white;
}
.buttonHeader {
  font-size: 20px;
  background-color: white;
  border-style: none;
  text-decoration: none;
  margin-left: 229px;
}
.rechercheHeader {
  font-size: 20px;
  background-color: white;
  border-style: none;
  text-decoration: none;
  margin-left: 29px;
}
/* **********Offers********************** */
.elipsis {
  position: relative;
  z-index: -1;
}
.elipsis > div {
  border-radius: 50%;
  height: 200px;
  top: -100px;
  width: 100%;
  background-color: #ff6e14;

  position: relative;
}
.imgOffer {
  padding: 5px;
  background-color: black;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;

  border-style: ridge;
}
.display {
  display: flex;
  justify-content: space-around;
  object-fit: cover;
}

.input {
  border: 1px dotted #999;
  border-radius: 0;
  width: 400px;
  height: 40px;
  margin-left: 50px;
  margin-top: 30px;

  -webkit-appearance: none;
}
.connecter {
  margin-top: 10px;
  padding: 10px;
}
.compte {
  margin-top: 10px;
  padding: 10px;
}
/* .test {
  width: 100px;
  height: 100px;
  background-color: white;
} */
